1.jpg
addedit.php
bootstrap.hhtml
bootstrap.html
html.html
html1.html
index1.html
index123.html
index1234.html
main.css
main.js
mysql.php
obj.php
potega.php
potega1.php
silna1.php
silnia.php
singleton.php
sprawdzian1.html
Sprawdzian2.html
style.css
tablica.php
tablice.php
zmienne.php
.vscode/ftp-sync.json
css/.DS_Store
projekt4ati/style.css
public_html/12
public_html/10/index.php
sesja/baza.php
sesja/config.php
sesja/head.php
sesja/index.php
sesja/logowanie.php
sesja/page.php
sesja/sesja.php
skrypty/addedit.php
skrypty/mysql.php
skrypty/obj.php
skrypty/potega.php
skrypty/sesja.php
skrypty/silnia.php
skrypty/singleton.php
skrypty/tab.php
skrypty/zmienne.php
